Investment Multiple and CAGR

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format

In [29]:
import yfinance as yf

In [31]:
data = yf.download("MSFT", start="2020-01-01", end="2023-01-01")
close = data['Close']

[*********************100%***********************]  1 of 1 completed

In [34]:
msft = pd.read_csv("Desktop/AutoTrader/finiacialDataAnalysis/msft.csv", index_col="Date", parse_dates=["Date"])
msft

                             Price  Returns
Date
2014-10-01 00:00:00+00:00  45.9000      NaN
2014-10-02 00:00:00+00:00  45.7600  -0.0031
2014-10-03 00:00:00+00:00  46.0900   0.0072
2014-10-06 00:00:00+00:00  46.0900   0.0000
2014-10-07 00:00:00+00:00  45.5300  -0.0122
...                            ...      ...
2021-05-24 00:00:00+00:00 250.7800   0.0229
2021-05-25 00:00:00+00:00 251.7200   0.0037
2021-05-26 00:00:00+00:00 251.4900  -0.0009
2021-05-27 00:00:00+00:00 249.3100  -0.0087
2021-05-28 00:00:00+00:00 249.6800   0.0015

[1677 rows x 2 columns]

Investment Multiple:

In [37]:
multiple = (msft.Price[-1] / msft.Price[0])
multiple

C:\Users\audri\AppData\Local\Temp\ipykernel_19940\3370495833.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  multiple = (msft.Price[-1] / msft.Price[0])

5.43965107571966

In [39]:
(multiple - 1) * 100

443.96510757196603

In [41]:
msft.Price / msft.Price[0]

C:\Users\audri\AppData\Local\Temp\ipykernel_19940\1590048142.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  msft.Price / msft.Price[0]

Date
2014-10-01 00:00:00+00:00   1.0000
2014-10-02 00:00:00+00:00   0.9969
2014-10-03 00:00:00+00:00   1.0041
2014-10-06 00:00:00+00:00   1.0041
2014-10-07 00:00:00+00:00   0.9919
                             ...
2021-05-24 00:00:00+00:00   5.4636
2021-05-25 00:00:00+00:00   5.4841
2021-05-26 00:00:00+00:00   5.4791
2021-05-27 00:00:00+00:00   5.4316
2021-05-28 00:00:00+00:00   5.4397
Name: Price, Length: 1677, dtype: float64

Drawback of investemnt Multiple: Meaningfull only with conjunction with investment period

Compund Annual Growth Rate (CAGR)

In [45]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00+0000', tz='UTC')

In [47]:
end = msft.index[-1]
end

Timestamp('2021-05-28 00:00:00+0000', tz='UTC')

In [49]:
td = end - start
td

Timedelta('2431 days 00:00:00')

In [53]:
td_years = td.days / 365.25
td_years

6.655715263518139

In [55]:
cagr = multiple**(1/td_years) - 1
cagr

0.2897846506194157

In [65]:
cagr = (msft.Price[-1]/msft.Price[0])**(1/((msft.index[-1] - msft.index[0]).days / 365.25)) - 1 # if multiple and td_years are not availble this long calculation can be used instead
cagr

C:\Users\audri\AppData\Local\Temp\ipykernel_19940\3623329166.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cagr = (msft.Price[-1]/msft.Price[0])**(1/((msft.index[-1] - msft.index[0]).days / 365.25)) - 1 # if multiple and td_years are not availble this long calculation can be used instead

0.2897846506194157

In [67]:
(1 + cagr)**(td_years)

5.439651075719659

Compund Returns & Geometric Mean

In [69]:
msft

                             Price  Returns
Date
2014-10-01 00:00:00+00:00  45.9000      NaN
2014-10-02 00:00:00+00:00  45.7600  -0.0031
2014-10-03 00:00:00+00:00  46.0900   0.0072
2014-10-06 00:00:00+00:00  46.0900   0.0000
2014-10-07 00:00:00+00:00  45.5300  -0.0122
...                            ...      ...
2021-05-24 00:00:00+00:00 250.7800   0.0229
2021-05-25 00:00:00+00:00 251.7200   0.0037
2021-05-26 00:00:00+00:00 251.4900  -0.0009
2021-05-27 00:00:00+00:00 249.3100  -0.0087
2021-05-28 00:00:00+00:00 249.6800   0.0015

[1677 rows x 2 columns]

In [72]:
multiple = (1 + msft.Returns).prod()
multiple

5.4396510757198575

In [74]:
n = msft.Returns.count()
n

1676

In [76]:
geo_mean = multiple**(1/n) - 1
geo_mean

0.0010110805580043625

In [78]:
(1 + geo_mean)**n

5.439651075720363

In [80]:
mu = msft.Returns.mean()
mu

0.001159781798206695

arithmetic mean return is always greater that the geometric return

In [83]:
(1 + mu)**n

6.977341539401793