Preview: Simple Returns vs. Logarithmic Returns

Discrete Compunding

Annual Compunding -> ontrest accrue once a year at the end of the year.

In [7]:
PV = 100
r = 0.08
n = 1

In [9]:
100 * 1.08

108.0

In [11]:
FV = PV * (1 + r)**n
FV

108.0

In [13]:
effective_annual_rate = (FV / PV)**(1/n)-1
effective_annual_rate

0.08000000000000007

Quartely Compounding -> Intrest accrue once a quarter at the end of the quarter

In [18]:
PV = 100
r = 0.08
n = 1
m = 4

In [20]:
100 * 1.02 * 1.02 * 1.02 * 1.02

108.243216

In [22]:
FV = PV * (1 + r/m)**(n*m)
FV

108.243216

In [24]:
effective_annual_rate = (FV / PV)**(1/n)-1
effective_annual_rate

0.08243215999999998

Continues Compounding

In [27]:
import numpy as np

Your savings Bank offers intrest rate of 8% p.a. (state rate) with continues compounding on your savings (USD 100)

Calculate the value of the savings account after one year and the coresponding annual rate

In [37]:
PV = 100
r = 0.08
n = 1
m = 100000

In [39]:
FV = PV * (1 + r/m)**(n*m)
FV

108.32870330122834

In [45]:
FV = PV * np.exp(n*r)
FV

108.32870676749586

In [35]:
euler = np.exp(1)
euler

2.718281828459045

In [47]:
effective_annual_rate = ((FV / PV)**(1/n) - 1)
effective_annual_rate

0.08328706767495864

In [49]:
effective_annual_rate = np.exp(r) - 1
effective_annual_rate

0.08328706767495864

In [53]:
r = np.log(FV / PV)
r

0.08000000000000007

Log returns from Microsoft

In [56]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [58]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

                               Price   Returns
Date
2014-10-01 00:00:00+00:00  45.900002       NaN
2014-10-02 00:00:00+00:00  45.759998 -0.003050
2014-10-03 00:00:00+00:00  46.090000  0.007212
2014-10-06 00:00:00+00:00  46.090000  0.000000
2014-10-07 00:00:00+00:00  45.529999 -0.012150
...                              ...       ...
2021-05-24 00:00:00+00:00 250.779999  0.022882
2021-05-25 00:00:00+00:00 251.720001  0.003748
2021-05-26 00:00:00+00:00 251.490005 -0.000914
2021-05-27 00:00:00+00:00 249.309998 -0.008668
2021-05-28 00:00:00+00:00 249.679993  0.001484

[1677 rows x 2 columns]

In [62]:
msft["log_ret"] = np.log(msft.Price / msft.Price.shift())

In [64]:
msft

                               Price   Returns   log_ret
Date
2014-10-01 00:00:00+00:00  45.900002       NaN       NaN
2014-10-02 00:00:00+00:00  45.759998 -0.003050 -0.003055
2014-10-03 00:00:00+00:00  46.090000  0.007212  0.007186
2014-10-06 00:00:00+00:00  46.090000  0.000000  0.000000
2014-10-07 00:00:00+00:00  45.529999 -0.012150 -0.012225
...                              ...       ...       ...
2021-05-24 00:00:00+00:00 250.779999  0.022882  0.022624
2021-05-25 00:00:00+00:00 251.720001  0.003748  0.003741
2021-05-26 00:00:00+00:00 251.490005 -0.000914 -0.000914
2021-05-27 00:00:00+00:00 249.309998 -0.008668 -0.008706
2021-05-28 00:00:00+00:00 249.679993  0.001484  0.001483

[1677 rows x 3 columns]

In [66]:
msft.describe()

            Price     Returns     log_ret
count 1677.000000 1676.000000 1676.000000
mean   106.314377    0.001160    0.001011
std     60.772246    0.017256    0.017249
min     40.290001   -0.147390   -0.159453
25%     54.830002   -0.006177   -0.006196
50%     89.709999    0.000918    0.000918
75%    138.899994    0.009110    0.009069
max    261.970001    0.142169    0.132929

In [68]:
mu = msft.log_ret.mean()
mu

0.0010105697603329652

Part1

In [71]:
df = pd.DataFrame(data = [100, 50, 90], columns = ["Price"])
df

   Price
0    100
1     50
2     90

In [73]:
df["SR"] = df.Price.pct_change()

In [81]:
df["LR"] = np.log(df.Price / df.Price.shift())

In [83]:
df

   Price        SR        FR        LR
0    100       NaN       NaN       NaN
1     50 -0.500000 -0.693147 -0.693147
2     90  0.800000  0.587787  0.587787

In [104]:
num_periods = df.SR.count()
periods = float(num_periods)
periods

2.0

Arithmetic mean of returns can be misleading!

In [90]:
mean_sr = df.SR.mean()
mean_sr

0.15000000000000002

Should use Compund simple returns

In [106]:
geo_mean = ((1 + df.SR).prod()**(1/float(periods))) - 1
print(geo_mean)

-0.05131670194948623

In [108]:
100 * (1 + geo_mean)**periods

89.99999999999999

..Log Returns which are additive ove time

In [113]:
mean_lr = df.LR.mean()
mean_lr

-0.05268025782891311

In [115]:
100 * np.exp(mean_lr * periods)

90.0