Getting and Preparing the Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("five_minute.csv", parse_dates = ["time"], index_col = "time")

In [8]:
data["returns"] = np.log(data.div(data.shift(1)))

In [10]:
data.dropna(inplace = True)

In [12]:
data["direction"] = np.sign(data.returns)

In [14]:
data

                              price   returns  direction
time
2019-01-01 22:05:00+00:00  1.146350 -0.000201       -1.0
2019-01-01 22:10:00+00:00  1.146320 -0.000026       -1.0
2019-01-01 22:15:00+00:00  1.146320  0.000000        0.0
2019-01-01 22:20:00+00:00  1.146530  0.000183        1.0
2019-01-01 22:25:00+00:00  1.146475 -0.000048       -1.0
...                             ...       ...        ...
2019-12-30 23:35:00+00:00  1.120180 -0.000004       -1.0
2019-12-30 23:40:00+00:00  1.120210  0.000027        1.0
2019-12-30 23:45:00+00:00  1.120295  0.000076        1.0
2019-12-30 23:50:00+00:00  1.120275 -0.000018       -1.0
2019-12-30 23:55:00+00:00  1.120130 -0.000129       -1.0

[73719 rows x 3 columns]

In [16]:
data

                              price   returns  direction
time
2019-01-01 22:05:00+00:00  1.146350 -0.000201       -1.0
2019-01-01 22:10:00+00:00  1.146320 -0.000026       -1.0
2019-01-01 22:15:00+00:00  1.146320  0.000000        0.0
2019-01-01 22:20:00+00:00  1.146530  0.000183        1.0
2019-01-01 22:25:00+00:00  1.146475 -0.000048       -1.0
...                             ...       ...        ...
2019-12-30 23:35:00+00:00  1.120180 -0.000004       -1.0
2019-12-30 23:40:00+00:00  1.120210  0.000027        1.0
2019-12-30 23:45:00+00:00  1.120295  0.000076        1.0
2019-12-30 23:50:00+00:00  1.120275 -0.000018       -1.0
2019-12-30 23:55:00+00:00  1.120130 -0.000129       -1.0

[73719 rows x 3 columns]

In [18]:
data.direction.value_counts()

direction
 1.0    36058
-1.0    35702
 0.0     1959
Name: count, dtype: int64

In [20]:
lags = 5

In [22]:
cols = []
for lag in range(1, lags + 1):
    col = "lag{}".format(lag)
    data[col] = data.returns.shift(lag)
    cols.append(col)
data.dropna(inplace = True)

In [24]:
data

,price,returns,direction,lag1,lag2,lag3,lag4,lag5
time,,,,,,,,
2019-01-01 22:30:00+00:00,1.146455,-0.000017,-1.0,-0.000048,0.000183,0.000000,-0.000026,-0.000201
2019-01-01 22:35:00+00:00,1.146455,0.000000,0.0,-0.000017,-0.000048,0.000183,0.000000,-0.000026
2019-01-01 22:40:00+00:00,1.146370,-0.000074,-1.0,0.000000,-0.000017,-0.000048,0.000183,0.000000
2019-01-01 22:45:00+00:00,1.146315,-0.000048,-1.0,-0.000074,0.000000,-0.000017,-0.000048,0.000183
2019-01-01 22:50:00+00:00,1.146475,0.000140,1.0,-0.000048,-0.000074,0.000000,-0.000017,-0.000048
...,...,...,...,...,...,...,...,...
2019-12-30 23:35:00+00:00,1.120180,-0.000004,-1.0,-0.000112,-0.000018,0.000022,-0.000004,0.000089
2019-12-30 23:40:00+00:00,1.120210,0.000027,1.0,-0.000004,-0.000112,-0.000018,0.000022,-0.000004
2019-12-30 23:45:00+00:00,1.120295,0.000076,1.0,0.000027,-0.000004,-0.000112,-0.000018,0.000022
2019-12-30 23:50:00+00:00,1.120275,-0.000018,-1.0,0.000076,0.000027,-0.000004,-0.000112,-0.000018
2019-12-30 23:55:00+00:00,1.120130,-0.000129,-1.0,-0.000018,0.000076,0.000027,-0.000004,-0.000112

The following:
Scale all lags in a way that the mean becomes 0 and the standart deviation becomes 1

In [27]:
means = data[cols].mean()
means

lag1   -3.142659e-07
lag2   -3.115388e-07
lag3   -3.125681e-07
lag4   -3.132864e-07
lag5   -3.159474e-07
dtype: float64

In [29]:
stand_devs = data[cols].std()
stand_devs

lag1    0.000199
lag2    0.000199
lag3    0.000199
lag4    0.000199
lag5    0.000199
dtype: float64

In [31]:
data[cols] = (data[cols] - means) / stand_devs
data

,price,returns,direction,lag1,lag2,lag3,lag4,lag5
time,,,,,,,,
2019-01-01 22:30:00+00:00,1.146455,-0.000017,-1.0,-0.240031,0.924152,0.001574,-0.130230,-1.008816
2019-01-01 22:35:00+00:00,1.146455,0.000000,0.0,-0.086280,-0.240044,0.924158,0.001578,-0.130216
2019-01-01 22:40:00+00:00,1.146370,-0.000074,-1.0,0.001583,-0.086293,-0.240039,0.924162,0.001591
2019-01-01 22:45:00+00:00,1.146315,-0.000048,-1.0,-0.371850,0.001569,-0.086288,-0.240035,0.924169
2019-01-01 22:50:00+00:00,1.146475,0.000140,1.0,-0.240065,-0.371862,0.001574,-0.086284,-0.240020
...,...,...,...,...,...,...,...,...
2019-12-30 23:35:00+00:00,1.120180,-0.000004,-1.0,-0.560410,-0.088343,0.113965,-0.020901,0.451175
2019-12-30 23:40:00+00:00,1.120210,0.000027,1.0,-0.020898,-0.560420,-0.088338,0.113969,-0.020887
2019-12-30 23:45:00+00:00,1.120295,0.000076,1.0,0.136467,-0.020912,-0.560415,-0.088335,0.113981
2019-12-30 23:50:00+00:00,1.120275,-0.000018,-1.0,0.383736,0.136453,-0.020907,-0.560412,-0.088321
2019-12-30 23:55:00+00:00,1.120130,-0.000129,-1.0,-0.088333,0.383720,0.136458,-0.020903,-0.560395

In [33]:
data[cols].mean()

lag1    1.041032e-17
lag2    1.542269e-18
lag3   -1.118145e-17
lag4    5.397942e-18
lag5   -1.079588e-17
dtype: float64

In [35]:
data[cols].std()

lag1    1.0
lag2    1.0
lag3    1.0
lag4    1.0
lag5    1.0
dtype: float64