Storing and Resampling Real-Time Tick Data (part3)

In [1]:
import pandas as pd
import tpqoa

In [2]:
class GetTickData(tpqoa.tpqoa):

    def __init__(self, config_file, instrument, bar_length):
        super().__init__(config_file)
        self.instrument = instrument
        self.bar_length = bar_length
        self.tick_data = pd.DataFrame()

    def on_success(self, time, bid, ask):
        print(time, bid, ask)
        df = pd.DataFrame({self.instrument: (ask + bid)/2}, 
                      index=[pd.to_datetime(time)])
        self.tick_data = pd.concat([self.tick_data, df])  # To observe the DataFrame after each append
        self.resample_and_join()

    def resample_and_join(self):
        self.data = self.tick_data.resample(self.bar_length, label = "right").last().ffill().iloc[:-1]

In [5]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [7]:
trader = GetTickData("oanda.cfg", "EUR_USD", "5s")
trader

In [9]:
trader.stream_data("EUR_USD", stop = 20)

2024-10-08T06:40:04.922788529Z 1.09844 1.09861
2024-10-08T06:40:12.083873451Z 1.09844 1.0986
2024-10-08T06:40:12.473877121Z 1.09844 1.09861
2024-10-08T06:40:21.788115218Z 1.09846 1.09862
2024-10-08T06:40:22.059027257Z 1.09845 1.09862
2024-10-08T06:40:24.234663093Z 1.09846 1.09862
2024-10-08T06:40:24.630643094Z 1.09845 1.09862
2024-10-08T06:40:25.824620182Z 1.09846 1.09862
2024-10-08T06:40:28.086055816Z 1.09845 1.09862
2024-10-08T06:40:30.263621432Z 1.09844 1.0986
2024-10-08T06:40:30.593563293Z 1.09845 1.09862
2024-10-08T06:40:30.853896973Z 1.09844 1.0986
2024-10-08T06:40:42.349508271Z 1.09844 1.09861
2024-10-08T06:40:44.255184243Z 1.09844 1.0986
2024-10-08T06:40:45.430812740Z 1.09842 1.09858
2024-10-08T06:40:46.913320262Z 1.0984 1.09856
2024-10-08T06:40:46.926314328Z 1.09839 1.09856
2024-10-08T06:40:47.354782993Z 1.09841 1.09856
2024-10-08T06:40:47.554265973Z 1.09842 1.09856
2024-10-08T06:40:49.177314566Z 1.09842 1.09857

In [11]:
trader.data

                            EUR_USD
2024-10-08 06:40:05+00:00  1.098525
2024-10-08 06:40:10+00:00  1.098525
2024-10-08 06:40:15+00:00  1.098525
2024-10-08 06:40:20+00:00  1.098525
2024-10-08 06:40:25+00:00  1.098535
2024-10-08 06:40:30+00:00  1.098535
2024-10-08 06:40:35+00:00  1.098520
2024-10-08 06:40:40+00:00  1.098520
2024-10-08 06:40:45+00:00  1.098520

In [13]:
trader.tick_data

                                      EUR_USD
2024-10-08 06:40:04.922788529+00:00  1.098525
2024-10-08 06:40:12.083873451+00:00  1.098520
2024-10-08 06:40:12.473877121+00:00  1.098525
2024-10-08 06:40:21.788115218+00:00  1.098540
2024-10-08 06:40:22.059027257+00:00  1.098535
2024-10-08 06:40:24.234663093+00:00  1.098540
2024-10-08 06:40:24.630643094+00:00  1.098535
2024-10-08 06:40:25.824620182+00:00  1.098540
2024-10-08 06:40:28.086055816+00:00  1.098535
2024-10-08 06:40:30.263621432+00:00  1.098520
2024-10-08 06:40:30.593563293+00:00  1.098535
2024-10-08 06:40:30.853896973+00:00  1.098520
2024-10-08 06:40:42.349508271+00:00  1.098525
2024-10-08 06:40:44.255184243+00:00  1.098520
2024-10-08 06:40:45.430812740+00:00  1.098500
2024-10-08 06:40:46.913320262+00:00  1.098480
2024-10-08 06:40:46.926314328+00:00  1.098475
2024-10-08 06:40:47.354782993+00:00  1.098485
2024-10-08 06:40:47.554265973+00:00  1.098490
2024-10-08 06:40:49.177314566+00:00  1.098495