Getting and Preparing Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("bid_ask.csv", parse_dates = ["time"], index_col = "time")

In [8]:
df

                           volume      ask      bid   spread       mid
time
2019-07-21 21:00:00+00:00      12  1.12164  1.12131  0.00033  1.121475
2019-07-21 21:05:00+00:00      12  1.12182  1.12157  0.00025  1.121695
2019-07-21 21:10:00+00:00       1  1.12176  1.12158  0.00018  1.121670
2019-07-21 21:15:00+00:00      18  1.12190  1.12141  0.00049  1.121655
2019-07-21 21:20:00+00:00       9  1.12201  1.12167  0.00034  1.121840
...                           ...      ...      ...      ...       ...
2020-10-20 23:35:00+00:00      81  1.18275  1.18261  0.00014  1.182680
2020-10-20 23:40:00+00:00      92  1.18276  1.18263  0.00013  1.182695
2020-10-20 23:45:00+00:00     101  1.18275  1.18262  0.00013  1.182685
2020-10-20 23:50:00+00:00      63  1.18311  1.18297  0.00014  1.183040
2020-10-20 23:55:00+00:00      89  1.18298  1.18285  0.00013  1.182915

[93021 rows x 5 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93021 entries, 2019-07-21 21:00:00+00:00 to 2020-10-20 23:55:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   volume  93021 non-null  int64
 1   ask     93021 non-null  float64
 2   bid     93021 non-null  float64
 3   spread  93021 non-null  float64
 4   mid     93021 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 4.3 MB

In [12]:
df.index.tz

datetime.timezone.utc

In [14]:
df["NYTime"] = df.index.tz_convert("America/New_York")

In [16]:
df

,volume,ask,bid,spread,mid,NYTime
time,,,,,,
2019-07-21 21:00:00+00:00,12,1.12164,1.12131,0.00033,1.121475,2019-07-21 17:00:00-04:00
2019-07-21 21:05:00+00:00,12,1.12182,1.12157,0.00025,1.121695,2019-07-21 17:05:00-04:00
2019-07-21 21:10:00+00:00,1,1.12176,1.12158,0.00018,1.121670,2019-07-21 17:10:00-04:00
2019-07-21 21:15:00+00:00,18,1.12190,1.12141,0.00049,1.121655,2019-07-21 17:15:00-04:00
2019-07-21 21:20:00+00:00,9,1.12201,1.12167,0.00034,1.121840,2019-07-21 17:20:00-04:00
...,...,...,...,...,...,...
2020-10-20 23:35:00+00:00,81,1.18275,1.18261,0.00014,1.182680,2020-10-20 19:35:00-04:00
2020-10-20 23:40:00+00:00,92,1.18276,1.18263,0.00013,1.182695,2020-10-20 19:40:00-04:00
2020-10-20 23:45:00+00:00,101,1.18275,1.18262,0.00013,1.182685,2020-10-20 19:45:00-04:00
2020-10-20 23:50:00+00:00,63,1.18311,1.18297,0.00014,1.183040,2020-10-20 19:50:00-04:00
2020-10-20 23:55:00+00:00,89,1.18298,1.18285,0.00013,1.182915,2020-10-20 19:55:00-04:00

In [26]:
df["hour"] = df.NYTime.dt.hour

In [28]:
df

,volume,ask,bid,spread,mid,NYTime,hour
time,,,,,,,
2019-07-21 21:00:00+00:00,12,1.12164,1.12131,0.00033,1.121475,2019-07-21 17:00:00-04:00,17
2019-07-21 21:05:00+00:00,12,1.12182,1.12157,0.00025,1.121695,2019-07-21 17:05:00-04:00,17
2019-07-21 21:10:00+00:00,1,1.12176,1.12158,0.00018,1.121670,2019-07-21 17:10:00-04:00,17
2019-07-21 21:15:00+00:00,18,1.12190,1.12141,0.00049,1.121655,2019-07-21 17:15:00-04:00,17
2019-07-21 21:20:00+00:00,9,1.12201,1.12167,0.00034,1.121840,2019-07-21 17:20:00-04:00,17
...,...,...,...,...,...,...,...
2020-10-20 23:35:00+00:00,81,1.18275,1.18261,0.00014,1.182680,2020-10-20 19:35:00-04:00,19
2020-10-20 23:40:00+00:00,92,1.18276,1.18263,0.00013,1.182695,2020-10-20 19:40:00-04:00,19
2020-10-20 23:45:00+00:00,101,1.18275,1.18262,0.00013,1.182685,2020-10-20 19:45:00-04:00,19
2020-10-20 23:50:00+00:00,63,1.18311,1.18297,0.00014,1.183040,2020-10-20 19:50:00-04:00,19
2020-10-20 23:55:00+00:00,89,1.18298,1.18285,0.00013,1.182915,2020-10-20 19:55:00-04:00,19

In [30]:
df["price_change_abs"] = df.mid.diff().abs()

In [32]:
df

,volume,ask,bid,spread,mid,NYTime,hour,price_change_abs
time,,,,,,,,
2019-07-21 21:00:00+00:00,12,1.12164,1.12131,0.00033,1.121475,2019-07-21 17:00:00-04:00,17,NaN
2019-07-21 21:05:00+00:00,12,1.12182,1.12157,0.00025,1.121695,2019-07-21 17:05:00-04:00,17,0.000220
2019-07-21 21:10:00+00:00,1,1.12176,1.12158,0.00018,1.121670,2019-07-21 17:10:00-04:00,17,0.000025
2019-07-21 21:15:00+00:00,18,1.12190,1.12141,0.00049,1.121655,2019-07-21 17:15:00-04:00,17,0.000015
2019-07-21 21:20:00+00:00,9,1.12201,1.12167,0.00034,1.121840,2019-07-21 17:20:00-04:00,17,0.000185
...,...,...,...,...,...,...,...,...
2020-10-20 23:35:00+00:00,81,1.18275,1.18261,0.00014,1.182680,2020-10-20 19:35:00-04:00,19,0.000100
2020-10-20 23:40:00+00:00,92,1.18276,1.18263,0.00013,1.182695,2020-10-20 19:40:00-04:00,19,0.000015
2020-10-20 23:45:00+00:00,101,1.18275,1.18262,0.00013,1.182685,2020-10-20 19:45:00-04:00,19,0.000010
2020-10-20 23:50:00+00:00,63,1.18311,1.18297,0.00014,1.183040,2020-10-20 19:50:00-04:00,19,0.000355
2020-10-20 23:55:00+00:00,89,1.18298,1.18285,0.00013,1.182915,2020-10-20 19:55:00-04:00,19,0.000125

In [34]:
df.dropna(inplace = True)