A Build of Finiancia Instrument Class: Instatation

In [3]:
class FiniancialInstrument():
    pass

In [5]:
stock = FiniancialInstrument()

In [7]:
stock

In [9]:
class FiniancialInstrument():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end

In [11]:
stock = FiniancialInstrument("AAPL", "2015-01-01", "2019-12-31")

In [13]:
stock

In [15]:
stock.ticker

'AAPL'

The method get_data()

In [5]:
import yfinance as yf

In [7]:
yf.download("AAPL", "2015-01-01", "2019-12-31").Close.to_frame()

[*********************100%***********************]  1 of 1 completed

                Close
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [17]:
raw = yf.download("AAPL", "2015-01-01", "2019-12-31").Close.to_frame()

[*********************100%***********************]  1 of 1 completed

In [19]:
raw

                Close
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [47]:
class FiniancialInstrument():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end
        self.get_data()
    def get_data(self):
        raw = yf.download(self.ticker, self.start, self.end).Close.to_frame()
        raw.rename(columns = {"Close":"price"}, inplace = True)
        self.data = raw

In [49]:
stock = FiniancialInstrument("AAPL", "2015-01-01", "2019-12-31")

In [51]:
stock

In [53]:
stock.get_data()

[*********************100%***********************]  1 of 1 completed

In [55]:
stock.data

                price
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]