Historical Data, Real-Time Data, and Orders

In [6]:
import pandas as pd
from tpqoa import tpqoa

In [10]:
api = tpqoa("oanda.cfg")

In [12]:
api.get_instruments()

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('AUD/USD', 'AUD_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('CAD/SGD', 'CAD_SGD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('EUR/AUD', 'EUR_AUD'),
 ('EUR/CAD', 'EUR_CAD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/CZK', 'EUR_CZK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('EUR/GBP', 'EUR_GBP'),
 ('EUR/HKD', 'EUR_HKD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('EUR/NOK', 'EUR_NOK'),
 ('EUR/NZD', 'EUR_NZD'),
 ('EUR/PLN', 'EUR_PLN'),
 ('EUR/SEK', 'EUR_SEK'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/USD', 'EUR_USD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('GBP/AUD', 'GBP_AUD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('GBP/CHF', 'GBP_CHF'),
 ('GBP/HKD', 'GBP_HKD'),
 ('GBP/JPY', 'GBP_JPY'),
 ('GBP/NZD', 'GBP_NZD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('GBP/SGD', 'GBP_SGD'),
 ('GBP/USD', 'GBP_USD'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('HKD/JPY', 'HKD_JPY'),
 ('NZD/CAD', 'NZD_CAD'),
 ('NZD/CHF', 'NZD_CHF'),
 ('NZD/HKD', 'NZD_HKD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('NZD/SGD', 'NZD_SGD'),
 ('NZD/USD', 'NZD_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('SGD/JPY', 'SGD_JPY'),
 ('TRY/JPY', 'TRY_JPY'),
 ('USD/CAD', 'USD_CAD'),
 ('USD/CHF', 'USD_CHF'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/CZK', 'USD_CZK'),
 ('USD/DKK', 'USD_DKK'),
 ('USD/HKD', 'USD_HKD'),
 ('USD/HUF', 'USD_HUF'),
 ('USD/JPY', 'USD_JPY'),
 ('USD/MXN', 'USD_MXN'),
 ('USD/NOK', 'USD_NOK'),
 ('USD/PLN', 'USD_PLN'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('USD/THB', 'USD_THB'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/ZAR', 'USD_ZAR'),
 ('ZAR/JPY', 'ZAR_JPY')]

Historic Data

In [17]:
api.get_history(instrument = "EUR_USD", start = "2021-03-29", end = "2021-03-31",
               granularity = "M1", price = "M", localize = False)

,o,h,l,c,volume,complete
time,,,,,,
2021-03-29 00:00:00+00:00,1.17874,1.17884,1.17870,1.17873,34,True
2021-03-29 00:01:00+00:00,1.17872,1.17873,1.17866,1.17869,31,True
2021-03-29 00:02:00+00:00,1.17868,1.17869,1.17860,1.17864,27,True
2021-03-29 00:03:00+00:00,1.17865,1.17874,1.17864,1.17871,14,True
2021-03-29 00:04:00+00:00,1.17869,1.17872,1.17867,1.17869,18,True
...,...,...,...,...,...,...
2021-03-30 23:55:00+00:00,1.17235,1.17236,1.17234,1.17234,5,True
2021-03-30 23:56:00+00:00,1.17233,1.17233,1.17222,1.17226,13,True
2021-03-30 23:57:00+00:00,1.17222,1.17231,1.17222,1.17230,25,True
2021-03-30 23:58:00+00:00,1.17231,1.17235,1.17228,1.17232,28,True
2021-03-30 23:59:00+00:00,1.17234,1.17234,1.17232,1.17232,4,True

Streaming ticks / real-time Data

In [ ]:
api.stream_data("EUR_USD", stop = 20)

2024-09-27T20:59:05.221415130Z 1.11625 1.11654

Orders & Trades