 Annualizing Mean Return and Std of Returns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.6f}'.format

In [4]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = ["Date"])

In [6]:
msft

                               Price   Returns
Date
2014-10-01 00:00:00+00:00  45.900002       NaN
2014-10-02 00:00:00+00:00  45.759998 -0.003050
2014-10-03 00:00:00+00:00  46.090000  0.007212
2014-10-06 00:00:00+00:00  46.090000  0.000000
2014-10-07 00:00:00+00:00  45.529999 -0.012150
...                              ...       ...
2021-05-24 00:00:00+00:00 250.779999  0.022882
2021-05-25 00:00:00+00:00 251.720001  0.003748
2021-05-26 00:00:00+00:00 251.490005 -0.000914
2021-05-27 00:00:00+00:00 249.309998 -0.008668
2021-05-28 00:00:00+00:00 249.679993  0.001484

[1677 rows x 2 columns]

In [8]:
msft["log_ret"] = np.log(msft.Price / msft.Price.shift())
msft

                               Price   Returns   log_ret
Date
2014-10-01 00:00:00+00:00  45.900002       NaN       NaN
2014-10-02 00:00:00+00:00  45.759998 -0.003050 -0.003055
2014-10-03 00:00:00+00:00  46.090000  0.007212  0.007186
2014-10-06 00:00:00+00:00  46.090000  0.000000  0.000000
2014-10-07 00:00:00+00:00  45.529999 -0.012150 -0.012225
...                              ...       ...       ...
2021-05-24 00:00:00+00:00 250.779999  0.022882  0.022624
2021-05-25 00:00:00+00:00 251.720001  0.003748  0.003741
2021-05-26 00:00:00+00:00 251.490005 -0.000914 -0.000914
2021-05-27 00:00:00+00:00 249.309998 -0.008668 -0.008706
2021-05-28 00:00:00+00:00 249.679993  0.001484  0.001483

[1677 rows x 3 columns]

In [10]:
msft.log_ret.agg(["mean", "std"])

mean   0.001011
std    0.017249
Name: log_ret, dtype: float64

In [12]:
ann_mu = msft.log_ret.mean() * 252
ann_mu

0.25466357960390723

In [14]:
cagr = np.exp(ann_mu) - 1
cagr

0.29002755628143806

In [16]:
msft.log_ret.agg(["mean", "std"])

mean   0.001011
std    0.017249
Name: log_ret, dtype: float64

In [18]:
ann_mu = msft.log_ret.mean()
ann_mu

0.0010105697603329652

In [20]:
cagr = np.exp(ann_mu) - 1
cagr

0.0010110805580043625

In [24]:
ann_std = msft.log_ret.std() * np.sqrt(252)
ann_std

0.27381663717464577