Portfolio of Assets and Portfolio Returns

In [4]:
import pandas as pd
import numpy as np

In [14]:
prices = pd.DataFrame(data = {"Asset_A": [100, 112], "Asset_B": [100, 104]}, index = [0, 1])
prices

   Asset_A  Asset_B
0      100      100
1      112      104

In [16]:
prices["Total"] = prices.Asset_A + prices.Asset_B

In [18]:
prices

   Asset_A  Asset_B  Total
0      100      100    200
1      112      104    216

In [20]:
returns = prices.pct_change()
returns

   Asset_A  Asset_B  Total
0      NaN      NaN    NaN
1     0.12     0.04   0.08

In [22]:
0.5 * 0.12 + 0.5 * 0.04

0.08

In [24]:
log_returns = np.log(prices / prices.shift())
log_returns

    Asset_A   Asset_B     Total
0       NaN       NaN       NaN
1  0.113329  0.039221  0.076961

In [26]:
0.5 * log_returns.iloc[1, 0] + 0.5 * log_returns.iloc[1, 1]

0.0762746992301423